{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"#types",
		"^(react/(.*)$)|^(react$)|react-*",
		"/types/|/constants|.json",
		"/core/",
		"react-icons",
		"@/hooks/|@/store/|@/contexts/|@/services/",
		"helpers/|@/utils/|_helpers|@/helpers",
		"@/components|Gt[A-Za-z]|@/modules",
		"@/assets/",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"insertPragma": false,
	"jsxSingleQuote": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
