{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"/types/",
		"^(react/(.*)$)|^(react$)|react-*",
		"/core/",
		"/types/|/constants|.json",
		"react-icons",
		"/hooks/|/store/|/contexts/",
		"/helpers/|/utils/|_helpers",
		"GtComponents|Gt[A-Za-z]|/modules/",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"insertPragma": false,
	"jsxSingleQuote": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
