table {
    width: 100% !important;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    text-align: left;
    color: #6b7280;
}

table thead {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    color: #374151;
    text-transform: uppercase;
    background-color: #f9fafb;
}

table thead tr th {
    padding-left: 1.5rem /* 24px */;
    padding-right: 1.5rem /* 24px */;
    padding-top: 0.75rem /* 12px */;
    padding-bottom: 0.75rem /* 12px */;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}

table tbody tr {
    background-color: #ffffff;
    border-bottom: 1px solid #6b728038;
}
table tbody tr:hover {
    background-color: #ecfdf5;
}

table tbody tr td {
    padding-left: 1.5rem /* 24px */;
    padding-right: 1.5rem /* 24px */;
    padding-top: 1rem /* 12px */;
    padding-bottom: 1rem /* 12px */;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.select-info {
    display: none;
}

.row:nth-child(2),
.row:nth-child(4) {
    padding: 15px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}

.row:nth-child(2) input,
.row:nth-child(2) select {
    padding: 2px 40px 2px 8px;
    border: 1px solid #24242438;
    border-radius: 4px;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}
.row:nth-child(2) input {
    margin-left: 10px;
}

.paginate_button {
    padding: 4px 8px;
    background: #144aa0;
    color: white;
    border-radius: 3px;
    margin-right: 2px;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}

.paginate_button.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.trumbowyg-box {
    font-weight: initial;
    font-size: 12px;
}

.buttons-excel {
    background-color: rgb(3, 84, 63);
    border-radius: 6px;
    color: white;
    padding: 4px 10px;
    display: flex;
    align-items: center;
}

.buttons-excel::after {
    content: "Exportar a excel";
    display: inline;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.025em;
    line-height: 1rem;
}

.wp {
    display: flex;
    justify-content: center;
}

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
    background: none;
}

.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl + .tgl-btn:after {
    left: 0;
}

.tgl + .tgl-btn:before {
    display: none;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}

.tgl-light:checked + .tgl-btn {
    background: #9fd6ae;
}
